.skills_title{
    color:#fff;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.skills_list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    list-style-type: none;
    margin-top: 20px;
    animation: scrollSkills 20s linear infinite ;
    

}

.skills_list li {
    color: #fff;
    font-size: 25px;
    word-wrap:none;
    
    white-space: nowrap;
    
}
.skills_container{
    position: relative;
    background-color: rgba(12,12,12,0.6);
    border-radius: 15px;
    padding:73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    
    
}
.slide{
    display: inline-flex;
    
}
.slide:hover .skills_list{
    animation-play-state: paused;
}

@keyframes scrollSkills {
    0%{
        transform: translate(0%);
    }
    
    100%{
        transform: translateX(-180%);
    }
}

.skills_icons img {
    width: 80px; /* Adjust as needed */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.skills_icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 70px;
    list-style: none;
    padding: 0;
    margin-top: 100px;
  }
.skills_icons li img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  .skills_icons li img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(255, 255, 255);
  }
  
  